asgiref==3.8.1
certifi==2024.7.4
click==8.1.7
cloudinary==1.40.0
colorama==0.4.6
colorlog==6.8.2
Django==5.0.7
django-cors-headers==4.4.0
django-redis==5.4.0
djangorestframework==3.15.2
gunicorn==22.0.0
h11==0.14.0
packaging==24.1
PyMySQL==1.1.1
python-dotenv==1.0.1
redis==5.0.8
six==1.16.0
sqlparse==0.5.1
urllib3==2.2.2
uvicorn==0.30.4
whitenoise==6.7.0
